<div class="container w-50">
    <p class="h3 mt-4">Enter login credentials</p>
    <form class="mt-5" method="post" action="login">
        <div class="mb-3">
            <label for="studentNumber" class="form-label">Student Number</label>
            <input type="text" class="form-control" id="studentNumber" name="studentNumber"
                placeholder="Enter unique student number" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required
                placeholder="Enter the password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>


{{!--
<script>
    webix.ui({
        margin: 50,
        type: 'clean',
        cols: [
            {},
            {
                view: "form",
                id: "logInForm",
                width: 600,
                elementsConfig: {
                    labelPosition: "top"
                },
                elements: [
                    {
                        view: 'fieldset',
                        label: 'Enter login credentials',
                        body: {
                            rows: [
                                { view: "text", label: "Student Unique Number", name: "name", type: 'text', required: true },
                                { view: "text", type: "password", label: "Password", name: "password", required: true },
                                {
                                    margin: 5, cols: [
                                        {
                                            view: "button", value: "Login", css: "webix_primary", type: "submit",
                                            click: webix.ajax().post("some.php", $$('logInForm').getValues())
                                        },
                                        { view: "button", value: "Cancel" }
                                    ]
                                }

                            ]
                        }
                    }
                ],
                rules: {
                    $all: webix.rules.isNotEmpty
                },
            },
            {}
        ],
    })



</script> --}}

{{!-- click: function () {
var form = this.getParentView();
if (form.validate())
webix.message("All is correct");
else
webix.message({ type: "error", text: "Form data is invalid" });
} --}}

{{!-- function save() {
var values = $$("logInForm").getValues();
webix.ajax().post("/user/login", values, function () {
webix.message({ type: "debug", text: "Film is saved", expire: -1 });
});
} --}}