{{!-- <div class="container w-50">
    <p class="h3 mt-4">Enter login credentials</p>
    <form class="mt-5" method="post" action="login">
        <div class="mb-3">
            <label for="studentNumber" class="form-label">Student Number</label>
            <input type="text" class="form-control" id="studentNumber" name="studentNumber"
                placeholder="Enter unique student number" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required
                placeholder="Enter the password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div> --}}

<script type="text/javascript" charset="utf-8">
    webix.ready(function () {
        webix.ui({
            view: "form",
            id: 'logInForm',
            action: '/student/login',
            method: 'get',
            maxWidth: 500,
            elements: [

                { view: 'label', label: 'StudentNumber', width: 150, for: 'hi' },
                { view: 'text', type: 'text', name: 'studentNumber', id: 'hi' },
                { view: 'label', label: 'Password', width: 150, for: 'pass' },
                { view: 'text', type: 'password', name: 'password', id: 'pass' },
                {
                    view: 'button', type: 'submit', autowidth: true, value: 'LogIn',
                    click: function () {
                        console.log('clicked')
                        var data = this.getFormView().getValues();

                        console.log(data)
                        //fetch('http://localhost:3000/student/login', {method:'POST',body: JSON.stringify(data) })
                        //  .then(response => response.json())
                        //send data to server
                        
                        webix.ajax().post("/student/login", data).then(function(data1){
                                //window.location.href = "http://localhost:3000/student/dashboard";
                                window.location.href = "http://localhost:3000/student/dashboard";
                        });
    
                    }
                }
            ],

        });
    });
</script>
