{{>navbar}}

{{!-- name: name,
password
email,
dob,
studentNumber,
uploadFile,
gender --}}


{{!-- {
view:"form",
id:"film_form",
gravity:0.5,
minWidth:200,
// elements == rows, cols can be declared instead
elements:[
{ view:"text", name:"title", id:"inp_title", label:"Film Title" },
{ view:"text", name:"year", id:"inp_year", label:"Release" },
{}
]
} --}}

<script>

    var views = [
        { view: "text", name: "name", id: "id_name", label: "Name", required: true },
        { view: "text", name: "password", id: "id_pass", label: "Password", type: 'password', required: true },
        { view: "text", name: "email", id: "id_email", label: "Email", required: true },
        { view: "text", name: "studentNumber", id: "id_sn", label: "Student Number", required: true },
        { view: "text", name: "dob", id: "id_dob", label: "DOB", required: true, type: 'date' },
        { view: "text", name: "gender", id: "id_gender", label: "Gender", required: true },

        //   <input class="form-control" type="file" id="formFile" name="uploadImage" accept=".jpg, .jpeg, .png">
        {
            view: "uploader", value: "Upload file",
            id: 'upl1',
            name: "uploadFile",
            multiple: false,
            upload: 'http://localhost:3000/image/uploadImage',
            link: "list1",
            autosend:false
        },
        //$$("upl1").send(function (response) {
        //    if (response)
        //        webix.message(response.status);
        //})

        {
            view: "list", id: "list1", type: "uploader",
            autoheight: true, borderless: true
        },


        {
            view: 'button', type: 'submit', autowidth: true, value: 'Add',
            click: function () {
                console.log('clicked')
                var data = this.getFormView().getValues();

                console.log(data)

              //  $$("upl1").send(function (response) {
              //      if (response)
              //          webix.message(response);
               // })

                webix.ajax().post("/student/addStudent", data).then(function (data1) {
                     window.location.href = "http://localhost:3000/student/getStudents"
                 });

            }
        }

    ]

    webix.ui({
        view: 'form',
        id: "add_form",
        minWidth: 400,
        // elements == rows, cols can be declared instead
        elements: views
    });
</script>

{{!-- <div class="container w-75 mt-5">
    <p class="h3">{{msg}}</p>
    <form class="row g-3 mt-3" method="post" action="addStudent" enctype="multipart/form-data">
        <div class="col-md-6">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="col-md-6">
            <label for="studentNumber" class="form-label">Student Number</label>
            <input type="text" class="form-control" id="studentNumber" name='studentNumber' required
                placeholder="Enter unique student number">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter email" required>
        </div>
        <div class="col-md-6">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" name="gender" class="form-select" required>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="datePicker" class="form-label">Date</label>
            <input type="date" class="form-control" id="datePicker" name='dob' placeholder="Enter date of birth"
                required>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label for="formFile" class="form-label">Choose image to upload</label>
                <input class="form-control" type="file" id="formFile" name="uploadImage" accept=".jpg, .jpeg, .png">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add Student</button>
        </div>
    </form>
</div> --}}

{{!--
{
view: "uploader", value: "Upload file",
name: "uploadFile",
multiple: false,
link: "list1"
},
{
view: "list", id: "list1", type: "uploader",
autoheight: true, borderless: true
}, --}}